@import "../scss/colors.module.scss";

.pagination-bar {
    background: linear-gradient(white,$blue-light);
    line-height: 3rem;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
        
    .pagination {
        margin: auto;
        padding-top: 0.5rem;

        .page-link {
            color: $blue-dark;
            font-weight: 800;
            background-color: unset;
            border: none;
            &:focus {
                outline: 0 !important;
                box-shadow: none !important;
            }
        }
    
        .page-number {
            padding-top: 0.35rem;
            color: $teal;
            &:hover {
                text-decoration: underline;
            }
            &:focus {
                outline: 0 !important;
                box-shadow: none !important;
            }
        }

        .page-item {
            padding-left: 1.5rem;
        }

        .disabled {
            cursor: not-allowed;
            filter: grayscale(100%);
        }
    }
}
