@import "../scss/colors.module.scss";

.result {
    float:left;
    text-align: left;
    padding: auto;
    margin: auto;

    &:not(:first-child){
        padding-left: 0;
    }

    .result-select{
        color: $teal;
        vertical-align: middle;
        border: none;
        background-color: white;
        flex: 1;
    }
}