@import '../scss/colors.module.scss';

@mixin button-icon($size) {
  .svg-icon {
    display: inline-block;
    width: $size;
    height: $size;
    stroke-width: 1.3;

    &:hover {
      stroke: $teal !important;
      fill: $teal !important;
    }
  }
}

$md-size: 1.22rem;
$sm-size: 1rem;

.btn-md {
  @include button-icon($md-size);
}

.btn-sm {
  @include button-icon($sm-size);
}