@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "../scss/colors.module.scss";

.progress-bar-container {
  width: 100%;
  height: 2.5px;
  background-color: #f0f0f0;
  border-radius: 1.25px;
  overflow: hidden;
  position: relative;
}

.progress-slider {
  width: 100%;
  height: 100%;
  background-color: $green-mid;
  position: absolute;
  animation: slide 1s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
