@import "../scss/colors.module.scss";
@import "rc-slider/assets/index.css";
@import "react-datepicker/dist/react-datepicker.css";

// CSS layout for Date range picker
.date-range-picker {
  display: flex;
  flex-direction: column;
  width: 100%;

  // Inputs go to either side with gap in the middle
  .date-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 0.5rem;
  }

  /* Stacks with smaller width */
  @media (max-width: 300px) {
    .date-inputs {
      flex-direction: column;
      gap: 0.25rem;
      align-items: stretch;
    }
  }

  .rc-slider-mark-text:first-child {
    left: 4% !important;
  }

  .rc-slider-mark-text:last-child {
    left: 96% !important;
  }

  // Clear button styling
  .react-datepicker__close-icon {
    &::after {
      background-color: #fff;
      color: $green-mid;
      font-size: inherit;
      font-weight: 900;
    }
  }

  // Adds boxshadow when dragging
  .rc-slider-handle {
    box-shadow: none !important; // RGB for green-mid
  }

  // Adds boxshadow when dragging
  .rc-slider-handle:focus {
    box-shadow: 0 0 20px rgba(110, 179, 166, 1) !important; // RGB for green-mid
  }

  // Ensures dates do not wrap
  .rc-slider-mark-text, .rc-slider-tooltip {
    white-space: nowrap !important;
  }

  .calendar-header {
    display: flex;
    padding-inline: 5px;
    background-color: #fff;

    .input-container {
      flex-direction: row;
      width: 100%;
      overflow-y: visible;
      padding-bottom: 5px;
      border-bottom: 1px solid #dadde1;

      .input-label {
        flex: 1;
        text-align: start;
        padding-left: 5px;
        margin-bottom: 0;
        font-family: 'Uni Neue';
        font-style: normal;
        font-weight: 900;
      }
    }
  }

  // Custom styling for select input to reduce size 
  .tern-select__control {
    font-size: 13px;
    min-height: 23px !important;
    max-height: 23px;
    height: 23px;
  }

  // Size update for select indicator
  .tern-select__indicator {
    svg {
      height: calc(100% * 0.75);
      width: calc(100% * 0.75);
    }
  }

  // Remove padding from value containers
  .tern-select__input-container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .tern-select__value-container {
    padding: 0px 8px !important;
  }

  .tern-select__dropdown-indicator {
    padding: 4px !important;
  }

  .react-datepicker {
    .react-datepicker__header {
      background-color: #fff;
      border-bottom: none;
    }

    .react-datepicker__triangle {
      display: none !important;
    }
  }

  .react-datepicker-popper[data-placement^=bottom] {
    padding-top: 5px !important;
  }

  .react-datepicker__month {
    box-sizing: border-box;
    justify-items: center;
  }

  .react-datepicker__month-wrapper {
    text-align: center;
  }

  .react-datepicker__month-text {
    color: $green-dark;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    max-width: 40px;
    max-height: 25px;
    &:hover {
      background-color: $green-mid;
      color: #fff;
    }
  }

  .react-datepicker__month-text--disabled {
    cursor: not-allowed;
    color: $green-light;

    &:hover {
      background-color: $green-light;
      color: #fff;
    }
  }

  .react-datepicker__month-text--selected {
    background-color: $green-dark;
    color: #fff;
    font-weight: bold;
  }
}
