@import "../scss/colors.module.scss";
@import "../scss/variables.scss";

// bootstrap media queries
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.dropdown-input {
  border-radius: 4px;
  background-color: #f8f8f8;
  color: $green-dark;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(110, 179, 166, 0.5);
  font-weight: bold;
  
  &:focus, &:active {
    border-color: $green-mid;
  }

  outline: none;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}