@import "../scss/colors.module.scss";
@import "../scss/variables.scss";

// bootstrap media queries
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.input-container {

  display: flex;
  flex-direction: column;

  &.error {
    .input-description {
      &.error {
        color: #dc3545;
      }
    }

    .text-input {
      border-color: #dc3545;
      outline: none;

      &:focus {
        box-shadow: 0 0 0.3rem rgba(220, 53, 69, 0.5) !important;
        border-color: #dc3545;
      }

      &:active {
        box-shadow: 0 0 0.3rem rgba(220, 53, 69, 0.5) !important;
        border-color: #dc3545;
      }
    }

  }

  .input-label {
    color: $green-dark;
    font-size: 13px;
    margin-bottom: 0.25rem;
  }

  .input-description {
    margin-top: 0.25rem;
    color: #6c757d;
    font-size: 10px;
    font-style: italic;
  }
  
  .input {
    border-color: $green-mid;
    font-size: 13px;

    &:focus, &:active {
      box-shadow: 0 0 0 0.2rem rgb(110, 179, 166, 0.5);
      border-color: $green-mid;
    }
  }

  .select-input {

    @include media-breakpoint-down(md) {
      font-size: xx-small;
    }

    .tern-select__control {
      border-color: $green-mid;
      color: $green-mid;
    }

    .tern-select__control--is-focused {
      border-color: $green-mid;
      box-shadow: 0 0 0 0.2rem rgba(110, 179, 166, 0.5);
    }

    .tern-select__multi-value {
      background-color: $green-light;
      color: $teal;
    }

    .tern-select__option {
      &:hover {
        background-color: $green-light;
      }
    }

    .tern-select__option--is-focused {
      background-color: $green-light;
    }

    .tern-select__option--is-selected {
      background-color: $green-mid;
    }
  }


  .separator {
    align-self: stretch;
    background-color: hsl(0, 0%, 80%);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
  }

  button.submit-input-btn {
    padding: 8px;
    box-shadow: none;
    color: #6eb3a6;
    border-color: inherit;
    height: 100%;
    display: flex;

    align-items: center;
    background-color: #ffff;

    &:hover {
      color: $green-dark;
    }

    &:active {
      background-color: $green-mid !important;
      border-color: $green-mid !important;
      box-shadow: 0 0 0 0.2rem rgba(110, 179, 166, 0.25) !important;
    }
  }

  .switch-input {
    position: relative;
    display: inline-flex;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: $green-dark;

      .switch-toggle {
        left: 27px;
      }

      .toggle-on {
        opacity: 1;
      }

      .toggle-off {
        opacity: 0;
      }
    }

    /* The toggle  */
    .switch-toggle {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 50%;
      left: 2.5px;
      transition: left 0.3s ease;
    }
    
    /* Toggle Off Text */
    .toggle-off {
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    
    /* Toggle On Text */
    .toggle-on {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  .dropdown-input {
    border-radius: 4px;
    background-color: #f8f8f8;
    color: $green-dark;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(110, 179, 166, 0.5);
    font-weight: bold;
    
    &:focus, &:active {
      border-color: $green-mid;
    }

    outline: none;
    transition: box-shadow 0.3s ease, border 0.3s ease;
  }

  .form-check-input {
    appearance: none;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1.5px solid $teal;
    cursor: pointer;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;

    /* Custom styles for checked state */
    &:checked::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $teal;
    }

    /* Hover effect */
    &:hover {
      box-shadow: $green-dark;
    }
  }
}