.pretty {
    margin-right: 0.3em;
  }
  
  // Box (border)
  .pretty .state label:before {
    border-color: teal;
  }
  // Check
  .pretty.p-default input:checked ~ .state label:after {
    background-color: #ed694b !important;
  }
  
  .label-checkbox {
    display: contents;
  }
  