@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "../scss/colors.module.scss";

.form-check-input {
  position: relative;
  width: 12px;
  height: 12px;
  border: 1.5px solid $teal;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
  
  // Radio styling
  &[type="radio"] {
    appearance: none;
    border-radius: 50%;
    
    &:checked::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $teal;
    }
  }

  // Square checkbox styling
  &[type="checkbox"] {
    appearance: none;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:checked {
      background-color: $teal;
      border-color: $teal;
    }

    &:checked::before {
      content: "✔";
      color: white; 
      font-size: 10px;
      font-weight: bold;
      line-height: 1;
      position: absolute;
      top: 40%;
      left: 40%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    box-shadow: 0 0 4px $green-dark;
  }
}
