@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "../scss/colors.module.scss";

.select-input {

  @include media-breakpoint-down(md) {
    font-size: xx-small;
  }

  .tern-select__control {
    border-color: $green-mid;
    color: $green-mid;
  }

  .tern-select__control--is-focused {
    border-color: $green-mid;
    box-shadow: 0 0 0 0.2rem rgba(110, 179, 166, 0.5);
  }

  .tern-select__multi-value {
    background-color: $green-light;
    color: $teal;
  }

  .tern-select__option {
    &:hover {
      background-color: $green-light;
    }
  }

  .tern-select__option--is-focused {
    background-color: $green-light;
  }

  .tern-select__option--is-selected {
    background-color: $green-mid;
  }
}
