@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "../scss/colors.module.scss";

.switch-input {
  position: relative;
  display: inline-flex;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;

  &.active {
    background-color: $green-dark;

    .switch-toggle {
      left: 27px;
    }

    .toggle-on {
      opacity: 1;
    }

    .toggle-off {
      opacity: 0;
    }
  }

  /* The toggle  */
  .switch-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    left: 2.5px;
    transition: left 0.3s ease;
  }
  
  /* Toggle Off Text */
  .toggle-off {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  /* Toggle On Text */
  .toggle-on {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}