@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "../scss/colors.module.scss";

.input-container {
  .separator {
    align-self: stretch;
    background-color: hsl(0, 0%, 80%);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
  }
  
  button.submit-input-btn {
    padding: 8px;
    box-shadow: none;
    color: #6eb3a6;
    border-color: inherit;
    height: 100%;
    display: flex;
  
    align-items: center;
    background-color: #ffff;
  
    &:hover {
      color: $green-dark;
    }
  
    &:active {
      background-color: $green-mid !important;
      border-color: $green-mid !important;
      box-shadow: 0 0 0 0.2rem rgba(110, 179, 166, 0.25) !important;
    }
  }
}
