/* Overlay container */
.bottom-drawer-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 300;
  overflow: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(100%); // Starts outside of the screen
  pointer-events: none;

  &.open {
    opacity: 1;
    transform: translateY(0); // Moves into view
  }
}

.bottom-sheet-modal {
  pointer-events: auto;
  overscroll-behavior: contain;
}

.bottom-draw {
  transition: 0.3s ease;
  width: min-content;
  height: min-content;
}

.bottom-drawer {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.drawer-handle {
  padding: 0.5rem;
  border-top: 1px solid #dadde1;
  background-color: #ffff;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  z-index: 2;
}

.handle-bar {
  width: 60px;
  height: 5px;
  background: #ccc;
  border-radius: 10px;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.75rem;
  background-color: #ffff;
  overflow-y: auto;
  z-index: 1;
}
