.sidebar {
  position: fixed;
  top: 0;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: #ffff;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  border-left: 1px solid #dadde1;

  &.right {
    right: calc(-1 * var(--sidebar-width)); 
    transition: right 0.3s ease-in-out;
    border-left: 1px solid #dadde1;
  }

  &.left {
    left: calc(-1 * var(--sidebar-width)); 
    transition: left 0.3s ease-in-out;
    border-right: 1px solid #dadde1;
  }

  &.up {
    left: 0;
    right: 0;
    bottom: calc(-1 * var(--sidebar-width));
    transition: bottom 0.3s ease-in-out;
  }
}

.sidebar.open {
  &.right {
    right: 0;
  }  

  &.left {
    left: 0;
  }

  &.up {
    bottom: 0;
  }
}

.sidebar-content {
  position: relative;
  height: 96%;
  padding-top: 10px;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.close-btn {
  padding-top: 10px;
  position: sticky;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  color: #ccc;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 999;
}