@import '../scss/colors.module.scss';

.map-container {
    position: relative;

    .leaflet-control-layers {
        border: 2px solid $green-dark;
        border-radius: 4px;
    }
    
    // Style the layers control button
    .leaflet-control-layers-toggle {
        width: auto;
        height: 36px;
        // background-position: 5px 3px;
        background-color: $green-dark;
        padding-left: 36px;
        padding-right: 10px;
        line-height: 36px;
        // &:after {
        //     content: 'Layers';
        //     font-size: 16px;
        //     font-weight: 400;
        //     color: white;
        // }
    }
}
