@import '../scss/colors.module.scss';

$menu-btn-sizes: (
  lg: 3.5rem,
  md: 3.0rem,
  sm: 2.5rem,
);

$toolbar-btn-sizes: (
  lg: 2.75rem,
  md: 2.5rem,
  sm: 2.0rem,
);

@mixin toolbar-size($size) {
  .menu-button {
    width: map-get($menu-btn-sizes, $size);
    height: map-get($menu-btn-sizes, $size);

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    svg {
      font-size: calc(map-get($menu-btn-sizes, $size) * 0.4); // Make icon 40% smaller than width, height
    }
  }

  .tool-btn {
    width: map-get($toolbar-btn-sizes, $size);
    height: map-get($toolbar-btn-sizes, $size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    svg {
      font-size: calc(map-get($toolbar-btn-sizes, $size) * 0.4); // Make icon 40% smaller than width, height
    }
  }
} 

.map-tools-container {
  z-index: 1000;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 1rem;
  left: 1rem;
  
  &.toolbar-size-lg {
    @include toolbar-size(lg);
  }

  &.toolbar-size-md {
    @include toolbar-size(md);
  }

  &.toolbar-size-sm {
    @include toolbar-size(sm);
  }
  
  .menu-button {
    border-radius: 5px;
    background-color: $green-dark;
    border: none;
    justify-content: center;
    align-content: center;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
    color: white;
    font-size: 1.3rem;

    &:hover {
      background-color: rgba($green-light, 1) !important;
      border-color: none !important;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
      transition: color 0.3s ease;
      color: $teal;
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
    }
  
    &:focus:not(:hover) {
      background-color: $green-dark;
      border-color: none;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
    }
  }
  
  .zoom-only {
    width: 125% !important;
  }
  
  z-index: 400;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 1rem;
  left: 1rem;

  .additional-buttons {
    margin-top: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none !important;

    .fab-btn-group {
      margin-top: 2.5px;
      margin-bottom: 2.5px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      border-radius: 5px;

      .tool-btn {
        background-color: rgba(255, 255, 255);
        color: black;
        border: none !important;
        background-color: $green-dark;
        color: #ffff;
      
        &:hover {
          background-color: rgba($green-light, 1) !important;
          color: $teal !important;
        }

        &:focus {
          border-color: none !important;
          box-shadow: unset !important;
        }

        &.active {
          background-color: rgba($green-dark, 0.7);
          color: $green-light;
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(2px);
          box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1), 
                4px 0 6px rgba(0, 0, 0, 0.1), 
                -4px 0 6px rgba(0, 0, 0, 0.1);
        }
      }
    }
    
    .search-tool {
      position: relative;

      .collapsible-search-field {
        position: absolute;
        top: 0.6rem;
        left: 100%; 
        transform: translateX(8px); 
        height: 32px !important;
        width: 200px;
      }

      .pill-input {
        height: 25px;
        font-size: small;
        border-radius: 50px;
        padding: 0 10px;
        margin-bottom: 5px;

        &:focus {
          border-color: $green-mid !important;
          box-shadow: 0 0 0 0.2rem rgba(red($green-mid), green($green-mid), blue($green-mid), 0.25) !important;
        }
      }

      .results {
        font-size: smaller;
        cursor: pointer;
        max-height: 175px;
        overflow-y: auto;

        button.result {
          all: unset;
          padding: 2px;
          color: unset;
          text-decoration: none;

          &:hover {
            background-color: rgba(red($green-mid), green($green-mid), blue($green-mid), 0.25);
          }
        }

        hr {
          margin: 0;
        }
      }
    }
  }
}

.draw-square-icon {
  fill: #ffff;
  stroke-width: 1.4;
  stroke: #ffff;
}

.map-tools-container .fab-btn-group .map-tools-draw-square:hover .draw-square-icon {
  fill: $teal;
  stroke: $green-dark;
}
