@import '../scss/colors.module.scss';

.zoom-slider {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .toggle-button {
    display: block;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.5) !important;
		border: none;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;;
    margin-right: 5px;
    outline: none !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px !important;
    backdrop-filter: blur(2px) !important;
    -webkit-backdrop-filter: blur(2px) !important;

    &:hover {
      transform: translateY(10px);
      background-color: $green-light !important;
      color: $green-dark !important;
    }

    .fa-chevron-down {
      width: 100%;
      color: $green-dark !important;
    }
  }

  &.open {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    top: 1rem;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    .toggle-button {
      margin-bottom: 0;
      padding: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($green-dark, 0.9) !important;
      border-radius: 5px;
      outline: none !important;
      box-shadow: unset;

      &:hover {
        background-color: $green-light !important;
        color: $teal;
        transform: translateY(-2px);

        .fa-chevron-down {
          color: $teal !important;
        }
      }

      .fa-chevron-down {
        transform: rotate(180deg);
        color: $green-light !important;
      }
    }

    .form-group {
      display: flex;

      .slider.form-control-range {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 150px;
        height: 5px;
        outline: none;
        border-radius: 5px;
        position: relative;

        &::-webkit-slider-runnable-track {
          width: 100%;
          background: rgba($orange-light, 0.9);
          border-radius: 5px;
					height: 5px;
        }

        &::-moz-range-track {
          width: 100%;
          height: 5px;
					background: rgba($blue-light, 0.9);
          border-radius: 5px;
        }

        &::-ms-track {
          width: 100%;
          height: 5px;
          background: transparent;
          border-color: transparent;
          color: transparent;
          border-radius: 5px;
        }

        &::-ms-fill-lower {
          background: $blue-light;
          border-radius: 5px;
        }

        &::-ms-fill-upper {
          background: $blue-light;
          border-radius: 5px;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          background: $orange-mid;
          border-radius: 50%;
          cursor: pointer;
          margin-top: -7.5px;
        }

        &::-moz-range-thumb {
          width: 20px;
          height: 20px;
          background: $blue-mid;
          border-radius: 50%;
          cursor: pointer;
        }

        &::-ms-thumb {
          width: 20px;
          height: 20px;
          background: $blue-mid;
          border-radius: 50%;
          cursor: pointer;
        }

        &:hover::-webkit-slider-thumb {
          background: $orange-dark;
        }

        &:hover::-moz-range-thumb {
          background: $blue-dark;
        }

        &:hover::-ms-thumb {
          background: $blue-dark;
        }
      }
    }
  }
}
