
.login-form-container {
    background-image: url(./form-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    line-height: 2;
    padding: 2em;
    color: #F6F6F8;

    #kc-form form {
        display: none;
    }

    #kc-social-providers {
        ul {
            margin-top: 1em;
        }

        a {
            margin-bottom: 1rem;
            height: 50px;
            width: 240px;
            padding: 12px 0 0 60px;
            color: #fff;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
            background-attachment: left top;
            transition-delay: 0s, 0s, 0s;
            transition-duration: 0.218s, 0.218s, 0.218s;
            transition-property: background-color, border-color, box-shadow;
            transition-timing-function: ease, ease, ease;
        }

        a#zocial-aaf {
            background-color: #f5811d;
            border: 1px solid #f5811d;
            background-color: #f67f29;
            border: 1px solid #f67f29;
            background-image: url(./aaf-icon.png);
        }

        a#zocial-google {
            background-color: #FFFFFF;
            color: #757575;
            border: 1px solid #4285f4;
            background-image: url(./google-icon.svg);
        }
    }

    .login-pf-social {
        line-height: 1.5;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

}

.login-text-section {
    @media(min-width: 996px) {
        left: -20px;
    }

    .login-text-container {
        background-image: url(./text-background.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 20px;
        height: 100%;
        line-height: 2;
        padding: 2em;

        h3 {
            color: #5EA595;
            // font-size: 1.75rem;

            a {
                color: #5EA595;
                text-decoration: underline;
            }
        }

        p {
            color: #F6F6F8;
        }
    }
}
