.cluster-marker {
  // box-sizing: border-box;
  color: #000000;
  font-weight: bold;
  background: #065f65;
  font-size: 11px;
  padding-top: 4px;
  text-align: center;
  border-radius: 50%;
  border: 4px solid rgba(84, 179, 166, 0.9);
  white-space: nowrap;

  &:hover {
    // background: lightgrey;
    border: -10px solid rgb(149, 219, 199);
    transition: background 0.5s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    -webkit-transition: background 0.5s;
    box-shadow: 0 0 0 5px rgba(84, 179, 166, 0.5),
      0 3px 10px rgba(0, 0, 0, 0.4);
    size: 3em;
  }
}

.default-marker {
  // box-sizing: border-box;
  color: #000000;
  font-weight: bold;
  background: #065f65;
  font-size: 11px;
  padding-top: 4px;
  text-align: center;
  border-radius: 50%;
  border: 4px solid rgba(84, 179, 166, 0.9);

  &:hover {
    // background: lightgrey;
    border: -10px solid rgb(149, 219, 199);
    transition: background 0.5s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    -webkit-transition: background 0.5s;
    box-shadow: 0 0 0 5px rgba(84, 179, 166, 0.5),
      0 3px 10px rgba(0, 0, 0, 0.4);
    size: 3em;
  }
}


.green-cluster {
  background: #46ff65;
  border: 5px solid #33b34894;
  &:hover {
    box-shadow: 0 0 0 10px #46ff6580,
      0 3px 14px rgba(0, 0, 0, 0.4);
  }
  path {
    fill: #2a923b;
  }
  div{
    margin-top: -6%;
  }
}

.yellow-cluster {
  background: #fffc5c;
  border: 5px solid #bdbb43af;
  &:hover {
    box-shadow: 0 0 0 10px #fffc5c80,
      0 3px 14px rgba(0, 0, 0, 0.4);
  }
  path {
    fill: #969430;
  }
  div{
    margin-top: -6%;
  }
}

.cluster-number {
  margin-top: 18px;
  padding-top: 9px;
}

.orange-cluster {
  background: #ff8066;
  border: 5px solid #a551409d;
  &:hover {
    box-shadow: 0 0 0 10px #ff806680,
      0 3px 14px rgba(0, 0, 0, 0.4);
  }
  path {
    fill: #823223;
  }
  div{
    margin-top: -6%;
  }
}

.red-cluster {
  background: #ff4b4b;
  border: 5px solid #b43333c0;
  &:hover {
    box-shadow: 0 0 0 10px #ff4b4b80,
      0 3px 14px rgba(0, 0, 0, 0.4);
  }
  path {
    fill: #711717;
  }
  div{
    margin-top: -6%;
  }
}
