

.content-title {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    // margin-bottom 1em;

    .content-title-container {
        padding: 49px 15px 49px 15px;

        h1 {
            font-family: "Uni Neue", sans-serif;
            font-size: 2.3rem;
            font-weight: 900;
            color: white;
        }
    }
}

.content-title-orange-mid {
    background-image: url('../images/innerbanner@2x-scaled.png');
}

.content-title-green-mid {
    background-image: url('../images/innerbannergreen.png');
}

.content-title-green-light {
    background-image: url('../images/innerbanner2x-scaled-green.png');
}
