@import '../scss/colors.module.scss';

@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";


header.main-header {

    height: 96px;

    .tern-logo-full {
        width: 300px;
        max-width: 300px;
    }

    nav.navbar {
        align-items: stretch;
        font-size: 1.2rem;

        .app-title-container {
            color: $green-mid;
            white-space: nowrap;
        }

        .navbar-brand {
            @include media-breakpoint-down(md) {
                width: 0px;
                overflow: hidden;
            }
        }

        .navbar-text {
            white-space: nowrap;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 2rem;

            h3 {
                margin: 0;
            }
        }

        .navbar-toggler {
            color: $teal;
        }

        .navbar-collapse {
            align-items: stretch;

            .navbar-nav {
                align-items: stretch;
                margin-left: auto;
                margin-top: auto;
                margin-bottom: auto;

                .nav-item {
                    padding-left: 1.5rem;
                    position: relative;
                    top: 25%;
                    margin-top: auto;
                    margin-bottom: auto;
                    width: max-content;

                    &.login-nav-item svg {
                        display: inline;
                      }

                    svg { 
                        display: none; 
                    }

                    &.dropdown {

                        .dropdown-menu {
                            margin-left: -1rem;

                            .dropdown-item {
                                color: $teal;
                                font-size: 1.2rem;
                                &:hover {
                                    color: $green-mid;
                                    background-color: transparent;
                                }
                            }
                        }
                    }

                    .nav-link {
                        color: $teal;
                        position: relative;
                        font-size: 1.2rem;
                        font-weight: 500;

                        svg { display: none; }

                        &:hover {
                            color: $green-mid;
                            &::before {
                                background-color: $green-mid;
                            }
                            &.active {
                                &::before {
                                    background-color: $green-mid;
                                }
                            }
                        }

                        &.active {
                            &::before {
                                background-color: $teal;
                            }
                        }

                        &::before {
                            content: '';
                            height: 5px;
                            bottom: -3rem;
                            position: relative;
                            display: block;
                            width: 100%;
                        }
                        @include media-breakpoint-down(sm) {
                            &::before {
                                bottom: -2.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}