@import "../scss/colors.module.scss";

// bootstrap media queries
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.main-footer {
  .footer-section {

    @include media-breakpoint-up(md) {
      margin-top: 2rem;
      padding: 15px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 10px;
    }

    .footer-border {
      border-style: solid;
      border-width: 7px 0px 0px 0px;
      transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
      padding: 25px 0px 0px 0px;
      margin: 1.0em;
    }

    h3 {
      color: $teal;
      font-size: 16px;
      font-family: "Uni Neue", sans-serif;
      font-weight: 900;
      margin-bottom: 20px;
    }

    p {
      font-family: "museo-sans", sans-serif;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }

  .contact-social {
    display: flex;
    a {
      margin-right: 20px;
      color: $teal;
      font-size: 25px;
    }
  }

  .footer-section-contact .footer-border {
    border-color: $teal;
  }

  .footer-section-funding {
    .footer-border {
      border-color: $blue-mid;
    }
    a {
      display: inline-block;
    }
    img {
      width: 138px;
      height: auto;
    }
  }

  .footer-section-investment {
    .footer-border {
      border-color: $blue-mid;
    }
    img {
      width: 180px;
      height: auto;
    }
  }
  .footer-section-affiliation {
    .footer-border {
      border-color: $blue-mid;
    }
    img {
      width: 80px;
      height: auto;
    }
  }

  .footer-section-resources .footer-border {
    border-color: $orange-dark;
  }

  .footer-partners {
    color: white;
    background-color: #898888;
    padding: 10px;
    margin-top: 1rem;
    font-size: 15px;
  }

  .footer-partners-list {
    background-color: #ecebea;
    padding-bottom: 30px;

    @include media-breakpoint-down(sm) {
      padding-top: 30px;
    }
  }
  .version {
    background-color: #ecebea;
    color: #898888;
    font-size: small;
    font-style: italic;
  }
}
