@import "../scss/colors.module.scss";

@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.mobile-navbar {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .dropdown-toggle::after {
      display: none;
    }

    .nav-item {

      .nav-link {
        display: flex;
        flex-direction: column;
        font-size: x-small;
        color: $teal;

        svg { 
          font-size: medium;
        }
      }

      &.login-nav-item {
        // User not signed
        .btn-login {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: x-small;
          display: flex;
          flex-direction: column-reverse;
          background-color: inherit;
          box-shadow: none;
          border: none;
          color: $teal;
  
          svg { 
            font-size: medium;
            margin-left: 0 !important;
          }

        }
        // User signed in
        .nav-link {
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }
  }
}

