@import "../scss/colors.module.scss";
@import "../scss/variables.scss";

// bootstrap media queries
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";


.mobile-above-header {
    background-color: $teal;

    display: flex;
    flex-direction: row;
    width: 100%;

    font-size: 0.80rem;

    a {
        font-weight: 400;
    }

    .above-header-menu {
        color: white;
        flex: 1;

        display: inline-flex;
        align-items: center;
     
        .dropdown {
            margin-right: 0.75rem;
            &:hover {
                cursor: pointer;
                color: $green-light;
            }

            .dropdown-menu {
                background-color: $teal;
                border-top-color: $teal;
            }

            .dropdown-item {
                color: white;

                &:hover {
                    background-color: $teal;
                    color: $green-light;
                }
            }

            .dropdown-divider {
                border-top-color: $green-dark;
            }
        }

        .show {
            color: $green-light;
        }

    }

    .above-header-links {
        display: inline-flex;
        .link-tern-home {
            a {
                color: $teal;
                position: relative;
                margin-top: auto;
                margin-bottom: auto;
                .tern-icon {  
                  padding: 5px;
                  background-color: #FFFF;
                  width: 2rem;
                }
            }
        }
        
        .link-data-portal {
            background-color: $orange-dark;
            color: white;
            display: flex;

            a {
                color: white;
                margin-top: auto;
                margin-bottom: auto;
                width: 2rem;
                text-align: center;
            }
        }

        .link-data-info {
          background-color: $blue-mid;
          color: white;
          display: flex;

          button {
              all: unset;
              color: white;
              position: relative;
              margin-top: auto;
              margin-bottom: auto;
              width: 2rem;
              text-align: center;
          }
      }
    }
}
