@import "../scss/colors.module.scss";

.mobile-app-header {
  display: inline-flex;
  flex-direction: row;

  text-align: center;
  align-items: center;
  width: 100%;

  .app-title {
    color: $green-mid;
    font-size: x-large;
    flex: 1;
    text-align: end;
    padding-right: 10px;
    font-weight: 900;
    font-family: "Uni Neue",Sans-serif;
    margin-bottom: 0;
  }

  .tern-logo {
    width: 7rem;
    height: auto;
  }
}
