
.tern-application-layout {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  &.mobile {
    display: flex;
    flex-direction: column;
    height: 100dvh;

    .above-header {
      font-size: small;
    }

    .mobile-app-header {
      background-color: #ffff;
      position: sticky;
      padding-inline: 10px;
      padding-block: 5px;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 400; 
    }

    .mobile-app-content {
      -webkit-overflow-scrolling: touch;
      padding-block: 8px;
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .mobile-navbar {
      border-top: 1px solid #dadde1;
      background-color: #ffff;
      padding: 12px 16px;
      position: sticky;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 400;
    }
  }
}