@import "../scss/colors.module.scss";
@import "../scss/variables.scss";

// bootstrap media queries
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.facets-wrapper {

  border-radius: 4px;
  padding: 0.75rem;

  height: 100%;

  .facets-header {
    background-color: #ffff;
    display: flex;
    padding-bottom: 0%;
    margin-bottom: 1rem;

    .facets-clear-btn {
      color: $orange-dark;
      box-shadow: none;
      text-decoration: none;
      padding-top: 0%;
    }

    .bold-title {
      flex: 1;
      color: $teal;
      font-weight: 900;
      font-size: x-large;
      font-family: "Uni Neue",Sans-serif;
    }
  }

  .facets-content {
    display: flex;
    flex-direction: column;

    min-height: 500px;
    height: 100%;
    overflow-y: auto;
  }
}
