@import "../scss/colors.module.scss";
@import "../scss/variables.scss";

// bootstrap media queries
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";


/** Singular facet component styling */
.facet {
  cursor: pointer;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;

  font-size: 13px;

  .facet-header {
    background-color: #ffff;
    border: none;
    display: inline-flex;
    width: 100%;
    text-align: start;
    border: none;

    align-items: center;

    &:active {
      // Ovverides default reactstrap grey color when pressed 
      background-color: #ffff !important;
    }

    .facet-toggle-btn {
      color: $green-dark;
      box-shadow: none;
      padding: 0;

      .helper-text {
        font-size: smaller;
      }
    }

    .facet-clear-btn {
      color: $orange-dark;
      box-shadow: none;
      text-decoration: none;
      padding-top: 0%;
    }

    .bold-title {
      flex: 1;
      color: $teal;
      font-weight: 900;
      font-size: small;
      font-family: "Uni Neue",Sans-serif;
    }
  }

  .facet-content {
    padding-inline: 0.75em;
  }

  .facet-values-delete {
    padding: 0;
    color: #DE350B;
  }

  .facet-values {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.facet-value {
  display: flex;
  border-radius: 2px;
  background-color: $green-light;
  font-size: 85%;
  margin: 2px;
  overflow: hidden;
  width: min-content;

  .facet-value-content {
    overflow: hidden;
    margin: 0;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 6px 3px 6px;
    height: min-content;

    align-self: center;

    @include media-breakpoint-down(lg) {
      font-size: x-small;
    }
  }

  .facet-value-delete {
    padding: 0 4px;
    height: min-content;
    color: $green-dark;
    border: none;

    border-radius: 0 2px;

    height: 100%;

    background-color: $green-light;

    &:hover {
      background-color: #FFBDAD;
      color: #DE350B;
    }

    svg {
      height: 14;
      width: 14;
      vertical-align: middle;
    }
  }
}