@import '../../scss/colors.module.scss';

.legend {
  text-align: left;
  line-height: 19px;
  color: $teal;
  margin-left: 40px !important;
  margin-bottom: 10px;
}

.legend i {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}

.legend-item {
  margin-bottom: 3px; /* Adjust the value as needed */
}

.legend-circle {
  border-radius: 50%;
}

.legend-square {
  border-radius: 25%;
}

.visit-link {
  display: inline-block;
}

.map-legend {
  margin-right: 1rem !important;
  margin-bottom: 1rem !important;
  bottom: 0 !important;
  right: 0 !important;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.legend-content.closed {
  display: none;
}

.legend-content.open {
  display: block;
}

.toggle-button {
  display: block;
  width: 100%;
  margin: 3px auto 3px auto;
  padding: 4px 10px;
  background-color: rgba($blue-dark, 0.9);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

.toggle-button:hover {
  background-color: rgba($blue-light, 0.6);
  color: $green-dark;
}

.toggle-button.open{
  background-color: rgba($orange-dark, 0.7) !important;
  &:hover {
    background-color: rgba($orange-light, 0.6) !important;
    color: $orange-dark !important;
  }
}
