@import "./scss/colors.module.scss";

.access-link {

  text-decoration: none;
  background-color: #ffff;
  padding: 5px;
  border-radius: 4px;
  width: fit-content;

  display: inline-block;

  .link-type {
    padding-right: 2.5px;    
  }
  .link-title {
    color: $teal;
  }

  &:hover {
    color: #ffff;
    background-color: $orange-dark;
    text-decoration: none;
    cursor: pointer;


    .link-title {
      color: #ffff;
    }
  }
}