@import "./scss/colors.module.scss";

.codeline-container {
  display: flex;
  justify-content: space-between;
  background-color: #F5F5F5;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.4rem;

  .codeline {
    color: $teal;
    flex-grow: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  .copybutton {
    border: none;
    color: $teal;
    border-radius: 0.5rem;
    font-family: "museo-sans", sans-serif;
    font-size: 75%;
    outline: none;

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
}
