@import './scss/fonts.scss';

// FIXME: ... these font variables look interesting ... set default fonts here ?
// $font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// $font-family-base:            $font-family-sans-serif !default;
// $font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
// $font-size-lg:                $font-size-base * 1.25 !default;
// $font-size-sm:                $font-size-base * .875 !default;
// $font-weight-base:            $font-weight-normal !default;
// $line-height-base:            1.5 !default;


// TODO: do we really want to have bootstrap included?
//       probably yes ...
@import './scss/bootstrap.scss';

* {
	box-sizing: border-box;
	// margin: 0;
	// padding: 0;
}

html {
	// FIXME: should robably be set to $font-size-base .. or 1rem ;
	// font-size: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333333;
	font-family: 'museo-sans', sans-serif;
	// FIXME: cleanup ? ... browser default 16px;
	font-size: 16px;
	font-weight: 500;
	// FIXME: cleanup ? ... bootstrap default 1.5
	line-height: 1.42857143;
	margin: 0;
	padding: 0;
}

// FIXME: ... there sholud be a bootstrap var for this ?
a {
    color: $orange-dark;
}

// FIXME: ... not needed here, but may be required in case font-size changes
//            other option to fix it would be to adjust margin-top to current font-size
// .form-check-input {
//     margin-top: 0.25em;
//     height: 1em;
// }