@import './scss/colors.module.scss';

.login-nav-item {

  .btn-login {
    background-color: $green-dark;
    color: #fff;

    &:disabled {
      cursor: not-allowed;
    }
  
    &:hover {
      color: #000000;
      background-color: $green-light;
    }

    &:active {
      background-color: $teal;
      border-color: $teal;
    }
  }

}
