.notfound-container {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./images/404.png);
  background-repeat: no-repeat;
  min-height: 200px;
  max-height: 866px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .notfound-content {
    text-align: center;
    vertical-align: middle;

    h1 {
      color: white;
      font-size: 4rem;
      font-weight: 700;
    }
    h4 {
      color: white;
      font-size: 1.2rem;
      font-weight: 400;
    }
    .contacts-email {
      button {
        font-size: 12px;
        padding: 0 1rem;
      }
    }
  }
}