@import "./scss/colors.module.scss";

html {
  scroll-behavior: smooth;
}

button.scroll {
  background: none;
  border: none;
  width: 100%
}

.scroll-to-top {
  color: #6eb3a6;
  cursor: pointer;

  &:hover {
    color: #00565d;
  }

}