@import './scss/colors.module.scss';

.split-pane {

    // width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .left-pane {
        overflow: hidden;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .gutter {
        // need to position this as anchor for elements inside
        position: relative;
        // flex positioning
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 5px;

        color: white;
        background-color: $green-mid;
        height: 100%;

        &:hover {
            color: black;
            background-color: $green-light;
        }

        .gutter-hitbox {
            cursor: col-resize;
            // width of hit box ... (bigger is easier with touch and mouse)
            position: absolute;
            // span full height of container
            height: 100%;
            width: 2rem;
            left: calc(-1rem + 2px);
            // make sure it's on top of right-pane
            // use > 1000 to put above leaflet map
            z-index: 1001;

            &.disabled {
                cursor: inherit;
            }
        }

        .btn-collapse {
            position: absolute;
            top: 0.5rem;
            // make sure it's on top of gutter-hit-box
            z-index: 1002;

            // inherit normal and hover colors
            color: inherit;
            background-color: inherit;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .right-pane {
        overflow: hidden;
        display: flex;
        flex-grow: 1;
    }

}
