@import "./scss/colors.module.scss";
@import "./scss/variables.scss";

// bootstrap media queries
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";


// #top {
//   margin-bottom: 15%;
// }
.home-header {
  //background-image: url(https://www.tern.org.au/wp-content/uploads/trees.jpg);
  background-size: cover;
  // background-position: 0px -50px;
  background-repeat: no-repeat;
  height: auto;
  padding: 60px 0px;
  // padding-bottom: 20px;
  border-top: 1px solid $green-mid;
  border-bottom: 5px solid $green-mid;
}

.home-text {
  padding: 0px 15px 0px 15px;
  font-size: 17px;
}

.home-text-start {
  padding: 0px 100px 30px 100px;
  font-size: 17px;
}

.home-text-highlighted {
  font-size: 20px;
  font-weight: 200;
  background-color: $green-mid;
  color: #fff;
  margin: 20px 130px;
  border-radius: 5px;
  padding: 40px 40px;
}

.home-title {
  color: $teal;
  font-family: "Uni Neue", Sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 36px;
  padding: 10px 15px;
  margin-bottom: 30px;
}

.section-title {
  color: $teal;
  font-family: "Uni Neue", Sans-serif;
  font-weight: 900;
  font-size: 30px;
  padding: 15px 15px;
  // color: $green-dark;
  // color:  $teal;
}

.home-text-2 {
  padding: 10px 0px;
  font-size: 17px;
}

.content-home {
  // border-bottom: 1px solid $green-mid;
  padding: 15px 0px 0px 0px;
}

.home-subtitle {
  font-size: 20px;
  font-weight: 400;
  padding: 10px 15px;
  // color: $green-mid;
  color: $orange-mid;
}

.home-caption {
  font-size: 17px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.8);
  // opacity: 0.7;

  color: $teal;
  width: 29em;
  padding: 2em;
  border-radius: 3px;
  // padding-left: 2em;
  // margin-left: 0;
}

.sites-sidebar {
  // border: 1px solid lightgrey;
  // border-right: 1px solid lightgrey;
  height: auto;
  // color: black;
}

.home-sites {
  padding: 0px 15px;
  font-size: 18px;
}

.home-sites a:hover {
  // background-color: $green-light;
  color: $orange-mid;
  cursor: pointer;
}

.btn-home-search {
  // background-color: $orange-dark;
  color: $orange-dark;
  font-weight: 900;
  border-radius: 25px;
  font-size: 16px;
  // position: absolute;
  // right: 17.5em;
  // top: 12em;
  padding: 0px 15px;
  // margin-top: 50px;
  // -webkit-box-shadow: 0px 1px 2px 0px $green-dark;
  // -moz-box-shadow: 0px 1px 2px 0px $green-dark;
  // box-shadow: 0px 1px 2px 0px $green-dark;

  &:hover {
    background-color: $green-mid;
    //background-color: $orange-mid;
    border: 1px solid $orange-dark;
    color: #fff;
  }
}

.btn-homesearch {
  background-color: $orange-dark !important;
  color: #fff !important;
  font-weight: 900 !important;
  border-radius: 25px !important;
  font-size: 20px !important;
  // margin: 5em 0em;
  padding: 8px 20px !important;
  margin-top: 20px !important;
  -webkit-box-shadow: 0px 1px 2px 0px $green-dark !important;
  -moz-box-shadow: 0px 1px 2px 0px $green-dark !important;
  box-shadow: 0px 1px 2px 0px $green-dark !important;

  &:hover {
    // background-color: $green-mid;
    background-color: #dc4425 !important;
    color: #fff !important;
  }
}

.btn-home-link {
  .svg-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    transition: inherit;

    &.svg-icon-bioimages-search {
      background: $orange-mid;
    }

    &.svg-icon-bioimages-filter {
      background: $green-mid;
    }

    &.svg-icon-bioimages-download {
      background: $blue-mid;
    }

    .svg-icon {
      width: 100%;
      height: 100%;
      padding: 20%;
      overflow: visible;
      color: white;
    }
  }

  >*:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.btn-home-link:hover {
  // color: $green-mid;
  color: $orange-mid;

  .svg-circle {
    &.svg-icon-bioimages-search {
      background: $orange-light;
    }

    &.svg-icon-bioimages-filter {
      background: $green-light;
    }

    &.svg-icon-bioimages-download {
      background: $blue-light;
    }
  }
}

.btn-map-search {
  background-color: $green-dark;
  color: #fff;
  font-weight: 500;
  border-radius: 25px;
  font-size: 17px;
  margin-top: 15px;
  padding: 5px 15px;
}

.btn-map-search:hover {
  // background-color: $green-mid;
  color: #fff;
  background-color: $teal;
}

.map-links {
  width: 800px;
  // height: 700px;
  border: 1px solid $green-mid;
  margin-bottom: 20px;
  margin-right: 15px;
}

.map-links:hover {
  border-radius: 5px;
  border: 1px solid $green-light;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 5px 0px $green-light;
  box-shadow: 0px 3px 5px 0px $green-light;
  cursor: pointer;
}

.image-links-banner {
  .svg-icon {
    width: 65px;
    height: 65px;
    padding: 3px;
    // transition: width 0.3s ease, height 0.3s ease;

    // &:hover {
    //   // width: 70px;
    //   // height: 70px;
    // }
  }
}

.image-links-banner a {
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 10px;
  // margin: 0em 5em 0em 5em;
  // background-color: #fff;
  border: 1px solid #eee;
  width: 120px;
  color: black;
}

.image-links-banner a:hover {
  // border-radius: 5px;
  color: $orange-mid;
  font-style: bold;
  // border: 1px solid $green-mid;
  // background-color: $green-light;
}

.info-text {
  font-style: italic;
  color: grey;
  font-size: 14px;
  padding-left: 14px;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.site-search-link {
  text-align: right;
  font-size: 14px;
  margin: 5px 10px 30px auto;
  // border: 1px solid red;
  // width: 13em;
  // border-radius: 25px;
}

// @media (min-width: 1200px) {
//   .container {
//     // width: 1300px;
//   }
// }

@include media-breakpoint-down(lg) {
  .home-caption {
    font-size: 14px;
    width: 30em;
  }

  .image-links-banner {
    height: auto;
  }
}