@import "./scss/colors.module.scss";
@import "./scss/variables.scss";

// bootstrap media queries
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";


.above-header {
    background-color: $teal;
    height: 96px;
    font-size: 1rem;
    font-weight: 400;

    a {
        font-weight: 400;
    }

    @include media-breakpoint-up(sm) {
        height:48px;
    }

    .container {
        height: 100%;
        .row {
            height: 100%;
        }
        @include media-breakpoint-down(xs) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .above-header-menu {
        color: white;
        @include media-breakpoint-down(xs) {
            padding-right: 0;
            .row {
                justify-content: flex-end;
            }
        }

        .dropdown {
            height: 100%;
            display: flex;
            padding-left: 1.5rem;
            padding-right: 0.5rem;

            &:hover {
                cursor: pointer;
                //background-color: $teal;
                color: $green-light;
            }

            .dropdown-toggle {
                margin-top: auto;
                margin-bottom: auto;
            }

            .dropdown-menu {
                background-color: $teal;
                border-top-color: $teal;
            }

            .dropdown-item {
                color: white;

                &:hover {
                    background-color: $teal;
                    color: $green-light;
                }
            }

            .dropdown-divider {
                border-top-color: $green-dark;
            }

        }

        .show {
            color: $green-light;

            .dropdown-menu {
                margin-left: -1.5rem;
            }
        }

    }

    .above-header-links {

        .link-tern-home {
            background-color: white;
            min-width: fit-content;
            display: flex;

            a {
                color: $teal;
                position: relative;
                margin-top: auto;
                margin-bottom: auto;

                img {
                    max-width: 65px;
                }
            }
        }
        .link-data-portal {
            background-color: $orange-dark;
            color: white;
            display: flex;

            a {
                color: white;
                position: relative;
                margin-top: auto;
                margin-bottom: auto;

                .fa-search {
                    font-size: 1.25em;
                    vertical-align: bottom;
                }
            }
        }
    }
}
