
$teal: #043e4f;
$green-dark: #00565d;
$green-mid: #6eb3a6;
$green-light: #b3d4c9;
$orange-dark: #ed694b;
$orange-mid: #f5a26c;
$orange-light: #fbc9a0;
$blue-dark: #006381;
$blue-mid: #669fba;
$blue-light: #a5c8dc;

:export {
  blueDark: $blue-dark;
  blueLight: $blue-light;
  blueMid: $blue-mid;
  greenDark: $green-dark;
  greenLight: $green-light;
  greenMid: $green-mid;
  orangeDark: $orange-dark;
  orangeLight: $orange-light;
  orangeMid: $orange-mid;
  teal: $teal;
}
