@font-face {
  font-family: 'Uni Neue';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/fontfabric_-_unineueheavy-webfont.woff2') format('woff2'),
  url('./fonts/fontfabric_-_unineueheavy-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Uni Neue';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/fontfabric_-_unineuelight-webfont.woff2') format('woff2'),
  url('./fonts/fontfabric_-_unineuelight-webfont.woff') format('woff');
}

@import url('https://p.typekit.net/p.css?s=1&k=vfu3sog&ht=tk&f=2005.2007.2009.10890.10892&a=41191321&app=typekit&e=css');

@font-face {
  font-display: auto;
  font-family: 'museo-sans';
  font-style: normal;
  font-weight: 300;
  src: url('https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3') format('woff2'), url('https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3') format('woff'), url('https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3') format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'museo-sans';
  font-style: normal;
  font-weight: 500;
  src: url('https://use.typekit.net/af/a28b50/00000000000000000000e803/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3') format('woff2'), url('https://use.typekit.net/af/a28b50/00000000000000000000e803/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3') format('woff'), url('https://use.typekit.net/af/a28b50/00000000000000000000e803/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3') format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'museo-sans';
  font-style: normal;
  font-weight: 700;
  src: url('https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('woff2'), url('https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('woff'), url('https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('opentype');
}
