@import '../src/scss/colors.module.scss';

.with-export-button {
  .btn-secondary  {
    background-color: $orange-mid;
    font-size: 0.7rem;
    color: white;
    border: none;
    width: 5rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    &:hover {
      background-color: $orange-dark;
    }
  }
}